body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    height: 100vh;
}

section {
    height: 100vh;
    text-align: center;
}

.box {
    background: red;
    width: 200px;
    height: 200px;
}

.dark {
    text-align: left;
    background: rgb(27, 27, 27);
    color: white;
    position: relative;
}

img {
    width: 50%;
    height: 100vh;
    position: absolute;
    object-fit: cover;;
    right: 0;
    top: 0;
    z-index: 0;
}

.content {
    padding: 8rem 3rem;
    z-index: 1;
    position: relative;

    h2 {
        font-size: 3.5rem;
        margin-bottom: -0.3rem;
    }

    p {
        font-size: 1.5rem;
    }
}